:root {
    font-family: 'Lexend Exa', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --text-colour: #d2e0f9;
    --background-colour: #010813;
    --background--colour-light: #08111e;
    --primary-colour: #83adec;
    --secondary-colour: #29148f;
    --secondary-colour-light: #0d0c38;
    --accent-colour: #c04fd0;
    
    color-scheme: light dark;
    color: var(--text-colour);
    background-color: var(--background-colour);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-colour: #06142d;
        --background-colour: #ecf3fe;
        --background--colour-light: #e1eaf7;
        --primary-colour: #133d7c;
        --secondary-colour: #8570eb;
        --secondary-colour-light: #cdccf9;
        --accent-colour: #a22fb1;
    }
}

#root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

input, textarea, button {
    font-family: inherit;
}

a {
    font-weight: 500;
    color: var(--accent-colour);
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1, h2 {
    letter-spacing: 1px;
}

h3 {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0 0 0.25em;
}

input[type=text], input[type=password], input[type=email], textarea {
    padding: 0.75em;
    margin-bottom: 1em;
    background-color: var(--background-colour);
    border: 1px solid var(--text-colour);
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid var(--primary-colour);
    outline: none;
    box-shadow: 0 0 5px 1px var(--primary-colour);
}

label {
    margin-bottom: 0.25em;
    cursor: pointer;
}

button {
    border: none;
    padding: 1em 5em;
    cursor: pointer;
    background-color: var(--secondary-colour-light);
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.action {
    background-color: var(--primary-colour);
    color: var(--background-colour);
}

button.link {
    background-color: transparent;
    color: var(--accent-colour);
    padding: unset;
    text-decoration: underline;
    font-weight: 500;
}

/* Authentication Page */
.authentication-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 100vh;
}

.mock-graph-container {
    max-width: 1200px;
    width: 100%;
}

.mock-graph-container .graph {
    aspect-ratio: 16/9;
    width: 100%;
    background-color: var(--background--colour-light);
}

.authentication-container .divider {
    display: flex;
    align-items: center;
}

.authentication-container .divider p {
    padding: 0.5em;
}

.authentication-container .divider span {
    border-top: 1px solid var(--text-colour);
    flex: 1;
    height: 0;
}

.authentication-inputs-container {
    min-width: 520px;
}

.authentication-container section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.api-authentication-buttons button {
    width: 15em;
    padding: 1em 1.2em;
    margin: 0 auto;
}

.oauth-buttons img {
    width: 20px;
    height: 20px;
}

.oauth-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 20em;
    margin: 0 auto;
}

.authentication-form-container {
    display: flex;
    flex-direction: column;
}

.authentication-form-container footer {
    display: flex;
    justify-content: space-between;
}

.authentication-form-container .profile-picture {
    width: 25%;
    aspect-ratio: 1;
    background-color: var(--accent-colour);
    margin: 0 auto 1em;
}

.authentication-form-container .display-colour-field {
    padding: 1.4em;
    margin-bottom: 1em;
}

.authentication-form-container .api-key-instructions {
    line-height: 1.6;
    list-style-position: inside;
    padding: 0;
}

.authentication-form-container textarea {
    resize: none;
    margin-bottom: 1em;
}

.authentication-form-container .without-key {
    margin-top: 1em;
    text-align: right;
}